html, body {
  margin: 0;
  padding: 0;
}

html {
  font-size: 10px;
  background: white;

  &.large {
    font-size: 14px;
  }

  &.iframe {
    background: #FAFAFA;

    .splash {
      box-sizing: border-box;
      padding: 1rem;
      width: 25rem;
      margin: 0;
    }
  }
}

body {
  display: flex;
  align-items: center;
  justify-content: center;
  padding-bottom: 3.2rem;
  padding-top: 1rem;
  box-sizing: border-box;
  position: relative;
}

.splash {
  width: 30rem;
  text-align: center;
  font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
}

@media(max-width: 50rem) {
  .splash {
    margin-top: 10rem;
  }
  html.iframe .splash {
    margin-top: 0;
  }
}

.head {
  margin-bottom: 4rem;
}

.logos {
  position: relative;
  margin-bottom: 4rem;
}

.logo {
  width: 4.8rem;
  height: 4.8rem;
  display: inline-block;
  background-size: cover;

  &.slack {
    background-image: url(/assets/slack.svg);
  }

  &.org {
    margin-right: 7rem;
    border-radius: .56em;

    &::after {
      position: absolute;
      display: block;
      content: '+';
      top: 1.5rem;
      left: 0;
      width: 30rem;
      text-align: center;
      color: #D6D6D6;
      font-size: 1.5rem;
      font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
    }
  }
}

.coc {
  font-size: 1.2rem;
  padding: 1.5rem 0 .5rem;
  color: #666;

  label {
    cursor: pointer;
  }

  input {
    appearance: none;
    -webkit-appearance: none;
    border: none;
    vertical-align: middle;
    margin: 0 .5rem 0 0;

    &::after {
      content: '';
      display: inline-block;
      width: 1.5rem;
      height: 1.5rem;
      vertical-align: middle;
      background: white url(/assets/checkbox.svg);
      cursor: pointer;
    }

    &:checked::after {
      background-position: right;
    }
  }

  a {
    color: #666;

    &:hover {
      background-color: #666;
      text-decoration: none;
      color: #fff;
    }
  }
}

html.iframe {
  .coc {
    font-size: 1.1rem;
    padding-top: 1rem;
  }

  .coc input {
    position: relative;
    top: -.2rem;
  }
}

p {
  font-size: 1.5rem;
  margin: .5rem 0;
}

html.iframe {
  p {
    font-size: 1.2rem;
    margin: 0 0 .5rem;

    &.status {
      font-size: 1.1rem;
    }
  }
}

select {
  background: none;
}

button, .form-item {
  font-size: 1.2rem;
  margin-top: 1rem;
  vertical-align: middle;
  display: block;
  text-align: center;
  box-sizing: border-box;
  width: 100%;
  padding: .9rem;
}

html.iframe {
  button, .form-item {
    margin-top: .5rem;
  }
}

button {
  color: #fff;
  font-weight: bold;
  border-width: 0;
  background: #E01563;
  text-transform: uppercase;
  cursor: pointer;
  appearance: none;
  -webkit-appearance: none;
  outline: 0;
  transition: background-color 150ms ease-in, color 150ms ease-in;

  &.loading {
    pointer-events: none;
  }

  &.error {
    background-color: #F4001E;
    text-transform: none;
  }

  &:disabled {
    color: #9B9B9B;
    background-color: #D6D6D6;
    cursor: default;
    pointer-events: none;

    &.success {
      color: #fff;
      background-color: #68C200;
    }
  }

  &:not(.disabled):active {
    background-color: #7A002F;
  }
}

b {
  transition: transform 150ms ease-in;

  &.grow {
    transform: scale(1.3);
  }
}

form {
  margin-top: 2rem;
  margin-bottom: 0;
}

html.iframe form {
  margin-top: 1rem;
}

html.iframe {
  button, .form-item {
    height: 2.8rem;
    line-height: 2.8rem;
    padding: 0;
    font-size: 1.1rem;
  }
}

input {
  color: #9B9B9B;
  border: .1rem solid #D6D6D6;
}

input:focus {
  color: #666;
  border-color: #999;
  outline: 0;
}

.active {
  color: #E01563;
}

p.signin {
  padding: 1rem 0 1rem;
  font-size: 1.1rem;

  a {
    color: #E01563;
    text-decoration: none;

    &:hover {
      background-color: #E01563;
      color: #fff;
    }
  }
}

footer {
  color: #D6D6D6;
  font-size: 1.1rem;
  margin: 0 auto;
  width: 30rem;
  text-align: center;
  position: absolute;
  bottom: 1rem;

  a {
    color: #9B9B9B;
    text-decoration: none;
    border-bottom: .1rem solid #9B9B9B;

    &:hover {
      color: #fff;
      background-color: #9B9B9B;
    }
  }
}

// Scale down the reCAPTCHA window
.iframe .g-recaptcha {
  width: 304px;
  transform: scale(0.76);
  position: relative;
  left: -36px;
  top: -3px;
}
.iframe.large .g-recaptcha {
  width: auto;
  transform: scale(1.065);
  position: relative;
  left: 11px;
  top: -4px;
}
#h-captcha {
  display: none;
}

@mixin theme(
  $color-background,
  $iframe-background,
  $color-text,
  $color-plus-sign,
  $color-footer,
  $color-footer-link,
  $color-signin,
  $color-signin-link,
  $color-coc,
  $color-coc-link,
  $color-button-text,
  $color-button-background,
  $color-button-success-text,
  $color-button-success-background,
  $color-button-error-text,
  $color-button-error-background,
  $color-button-pressed-text,
  $color-button-pressed-background,
  $color-button-disabled-text,
  $color-button-disabled-background,
  $color-users-active,
  $color-users-total,
  $color-input-text,
  $color-input-border,
  $color-input-focused-text,
  $color-input-focused-border
) {
  // Main:
  background: $color-background;
  color: $color-text;
  &.iframe {
    background: $iframe-background;
  }
  // Plus sign between the logos:
  .logo.org::after {
    color: $color-plus-sign;
  }
  // Code of conduct:
  .coc {
    color: $color-coc;
    a {
      color: $color-coc-link;
      &:hover {
        background-color: $color-coc-link;
        color: $color-background;
      }
    }
  }
  // Button:
  button {
    color: $color-button-text;
    background-color: $color-button-background;
    &.error {
      color: $color-button-error-text;
      background-color: $color-button-error-background;
    }
    &.success {
      color: $color-button-success-text;
      background-color: $color-button-success-background;
    }
    &:disabled {
      color: $color-button-disabled-text;
      background-color: $color-button-disabled-background;
    }
    &:not(.disabled):active {
      color: $color-button-pressed-text;
      background-color: $color-button-pressed-background;
    }
  }
  // Input:
  input {
    color: $color-input-text;
    border-color: $color-input-border;
  }
  input:focus {
    color: $color-input-focused-text;
    border-color: $color-input-focused-border;
    outline: 0;
  }
  // Active users:
  .active {
    color: $color-users-active;
  }
  .total {
    color: $color-users-total;
  }
  // Signin link:
  p.signin {
    color: $color-signin;
    a {
      color: $color-signin-link;
      &:hover {
        background-color: $color-signin-link;
        color: $color-background;
      }
    }
  }
  // Footer:
  footer {
    color: $color-footer;
    a {
      color: $color-footer-link;
      border-bottom-color: $color-footer-link;
      &:hover {
        color: $color-background;
        background-color: $color-footer-link;
      }
    }
  }
}

html.theme-light {

  // While every color in the theme mixin is customizable,
  // we can build a theme from just a few.

  $foreground: #000000;

  $background: #ffffff;
  $background-iframe: #fafafa;

  $button-text: #ffffff;
  $button-text-disabled: #999999;

  $accent: #e01563;
  $success: #68c200;
  $error: #f4001e;
  $disabled: #cccccc;

  @include theme(
    // $color-background:
    $background,
    // $iframe-background:
    $background-iframe,
    // $color-text:
    $foreground,
    // $color-plus-sign:
    lighten($foreground, 80),
    // $color-footer:
    lighten($foreground, 80),
    // $color-footer-link:
    lighten($foreground, 60),
    // $color-signin
    $foreground,
    // $color-signin-link:
    $accent,
    // $color-coc:
    lighten($foreground, 40),
    // $color-coc-link:
    lighten($foreground, 40),
    // $color-button-text:
    $button-text,
    // $color-button-background:
    $accent,
    // $color-button-success-text:
    $button-text,
    // $color-button-success-background:
    $success,
    // $color-button-error-text:
    $button-text,
    // $color-button-error-background:
    $error,
    // $color-button-pressed-text:
    $button-text,
    // $color-button-pressed-background:
    darken($accent, 15),
    // $color-button-disabled-text:
    $button-text-disabled,
    // $color-button-disabled-background:
    $disabled,
    // $color-users-active:
    $accent,
    // $color-users-total:
    $foreground,
    // $color-input-text:
    lighten($foreground, 60),
    // $color-input-border:
    lighten($foreground, 80),
    // $color-input-focused-text:
    lighten($foreground, 40),
    // $color-input-focused-border:
    lighten($foreground, 60)
  );
}

html.theme-dark {

  // An example of a dark theme, where
  // the accents are darker, not lighter.

  $foreground: #eeeeee;

  $background: #25292c;
  $background-iframe: #25292c;

  $button-text: #eeeeee;
  $button-text-disabled: #666;

  $accent: darken(#e01563, 15);
  $success: darken(#68c200, 15);
  $error: darken(#f4001e, 15);
  $disabled: darken(#cccccc, 15);

  // The Slack logo has to have white background,
  // so we'll add it since the main background
  // isn't white.
  .logos.slack {
    box-sizing: border-box;
    background-color: white;
    border-radius: 5px;
    border: 3px solid white;
  }

  @include theme(
    // $color-background:
    $background,
    // $iframe-background:
    $background-iframe,
    // $color-text:
    $foreground,
    // $color-plus-sign:
    darken($foreground, 60),
    // $color-footer:
    darken($foreground, 60),
    // $color-footer-link:
    darken($foreground, 40),
    // $color-signin:
    darken($foreground, 20),
    // $color-signin-link:
    $accent,
    // $color-coc:
    darken($foreground, 20),
    // $color-coc-link:
    darken($foreground, 20),
    // $color-button-text:
    $button-text,
    // $color-button-background:
    $accent,
    // $color-button-success-text:
    $button-text,
    // $color-button-success-background:
    $success,
    // $color-button-error-text:
    $button-text,
    // $color-button-error-background:
    $error,
    // $color-button-pressed-text:
    $button-text,
    // $color-button-pressed-background:
    darken($accent, 10),
    // $color-button-disabled-text:
    $button-text-disabled,
    // $color-button-disabled-background:
    $disabled,
    // $color-users-active:
    $accent,
    // $color-users-total:
    $foreground,
    // $color-input-text:
    darken($foreground, 40),
    // $color-input-border:
    darken($foreground, 60),
    // $color-input-focused-text:
    darken($foreground, 20),
    // $color-input-focused-border:
    darken($foreground, 40)
  );
}

// Overrides

// html {
//   background: black url(/assets/background.jpg);
//   background-size: cover;
// }

// footer {
//   display: none;
// }

// .splash {
//   background: white;
// }
